#title {
    background-color: rgb(0, 0, 0);
  }
  
  .container-fluid {
    padding: 3% 15% 9%;
  }
  
  h1 {
    font-family: 'Times New Roman', serif;
    font-size: 5rem;
    font-weight: bolder;
    line-height: 1.5;
    color: rgb(20, 238, 238);
  }
  
  h2
  {
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .iphone6 {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 15%;
  }
  
  
  @media (max-width: 1028px) {
  
  body {
    text-align: center;
  }
  
  
    .iphone6 {
      width: 60%;
      position: static;
      transform: rotate(0deg);
    }
  
  }
  
  
  .navigation {
    margin-bottom: 60px;
  }
  
  .download-button {
    margin: 5% 3% 5% 0;
    color: rgb(20, 238, 238);
  }
  
  .navbar {
    padding-left: 0;
  }
  
  .jacket {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  /* Features */
  #features {
    text-align: center;
    background-color: white;
    position: relative;
  }
  
  .f1 {
    margin-bottom: 100px;
  }
  
  .fas {
    font-size: 4rem;
    color: #1f201c;
    margin-bottom: 10px;
  }
  
  .fas:hover {
    color: rgb(20, 238, 238);
  }
  
  .fontf {
    font-family: 'Times New Roman', serif;
    font-size: 5rem;
    font-size: 1.5rem;
  }
  
  .pf {
    color: grey;
    width: 60%;
    margin: auto;
  }
  
  .forthefeatures {
    padding-top: 150px;
    margin-bottom: 100px;
  }
  
  
  /* Testimonial Sections */
  
  
  
  #testimonials {
  
    text-align: center;
    background-color:#a8d2dd;
    color: rgb(0, 0, 0);
  }
  
  .carousel-item {
      padding: 7% 15%;
  }
  
  
  
  .testimonial-image{
    width: 10%;
    border-radius: 50%;
  }
  
  
  #press{
    background-color:#a8d2dd;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin:20px 20px 50px;
  }
  
  
  /* Pricing */
  
  #pricing{
    padding:100px;
    text-align: center;
  }
  
  .padding-column {
    padding: 2% 3%;
  }
  
  
  /* Call to Action */
  
  #cta {
  text-align: center;
  padding: 9% 19%;
  background-color: #000000;
  }
  
  
  .ctah3 {
    font-family: 'Times New Roman', serif;
    font-size: 5rem;
    font-size: 5rem;
    font-weight: bold;
    line-height: 2;
    color: rgb(20, 238, 238);
  }
  
  .ctabtn {
   margin: 5% 3% 5% 0;
   color: rgb(20, 238, 238);
  }
  
  
  /* Footer */
  
  
  #footer {
   text-align: center;
  padding: 5% 10%;
  }
  
  .copyright {
    color: rgb(0, 0, 0);
  }
  
  
  .footericon {
    margin-left: 2%;
    padding-bottom:2%;
  }
  